<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />

  <connectionStrings>

  <add name="AutoSkola"
       connectionString="Data Source=(localdb)\mssqllocal;Initial Catalog=AS;
         Integrated Security=true"
         
       providerName="System.Data.SqlClient"/>

  </connectionStrings>
  
</packages>